/* @font-face {
    font-family: "PingFang-SC-Bold";
    src: url('PingFangBold.ttf');
    font-weight: normal;
    font-style: normal;
   }
   
@font-face {
    font-family: "PingFang-SC-ExtraLight";
    src: url('PingFangExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
    font-family: "PingFang-SC-Heavy";
    src: url('PingFangHeavy.ttf');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
    font-family: "PingFang-SC-Light";
    src: url('PingFangLight.ttf');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
    font-family: "PingFang-SC-Medium";
    src: url('PingFangMedium.ttf');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
    font-family: "PingFang-SC-Regular";
    src: url('PingFangRegular.ttf');
    font-weight: normal;
    font-style: normal;
   } */
